.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}

*{
  font-family: 'Poppins', sans-serif;
}

/* This would make the sidebar fixed and give it some padding. */
.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100vh;
  padding: 1rem 0 5rem 0;
  background: linear-gradient(328deg, rgba(20,20,20,1) 0%, rgba(57,61,63,1) 100%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  box-sizing: border-box;
}

.Sidebar-Spacer{
  padding-top: 5rem;
}

.Sidebar-Spacer svg{
  height: 6em;
  fill: white;
  transition: all 0.5s ease-in-out;
}

.Sidebar-Spacer svg:hover{
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 8px rgb(170, 170, 170));
}

.Sidebar-Navigation {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.NavItem {
  width: 100%;
  margin: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.NavItem:hover {
  color:  #919191; /* Change color on click */
}

.NavItem:active {
  transform: scale(0.95); /* This makes the element slightly smaller when clicked */
  background-color: #5c5c5c; /* Change color on click */
}

.NavItem.active {
  color: rgb(76, 166, 218);
  background-color: #3f3f3f;
  transform: scale(1.1);
  overflow: hidden;
}

/* This gives some space between navigation items and social links. */
.Sidebar .NavItem, .Sidebar .SocialLink {
  padding: 1rem 0 1rem 0;
}

.SocialLink{
  margin: 1rem;
  color: #808080;
}

.SocialLink svg{
  height: 2em;
  transition: all 0.3s;
}

.SocialLink svg:hover{
  transform: scale(1.3);
  color: white;
}

.SocialLink:active{
  color: rgb(76, 166, 218);
}

/* This would push the main content to the right of the sidebar and make it take up the rest of the space. */
.Main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory; /* This line makes the sections snap */
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;
  margin-left: 250px;
}

/* This styles the individual sections. Adjust these styles as needed. */
.Section {
  height: 100vh;
  padding: 1rem;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

/* About me Page CSS */

.about-me-container {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.about-me-left {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.about-me-title {
  height: 80%;
  font-size: 4em;
  display: flex;
  align-items: center;
}

.about-me-title img {
  max-width: 100%;
  height: auto;
}

.about-me-subtitle {
  font-size: 2em;
  font-weight: 500;
  margin-left: 15px;
}

.about-me-description {
  margin-left: 18px;
}

.about-me-image {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
}

/* Bouncing Arrow */
.bouncing-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.bouncing-text {
  animation: bounce 1s infinite;
  margin: 0;
}

.bouncing-arrow {
  margin-top: 10px;
  font-size: 2em;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Portfolio.css */
.bunch-of-logos {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap; /* Allows the logos to wrap to the next line if there's not enough space */
}

.logo {
  width: 30px; /* Adjust as needed */
  height: 35px;
  margin: 10px;
  transition: all 0.3s ease; /* This makes the changes happen smoothly over 0.3 seconds */
  opacity: 0.7;
}

.logo:hover {
  transform: scale(1.1); /* Enlarge the logo a bit */
  opacity: 1.0;
}

/* SimCity.css */

.SimCity-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.SimCity-left{
  width: 50%;

}

.SimCity-right{
  width: 50%;
  padding: 80px;
}

.SimCity-images{
  width: 100%;
}

/* UniLink.css */

.UniLink-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.UniLink-left{
  width: 50%;

}

.UniLink-right{
  width: 50%;
  padding: 80px;
}

.UniLink-images{
  width: 100%;
}